:root {
  --background-dark: rgb(43, 43, 43);
  --text-dark: white;
  --container-dark: rgb(60, 60, 60);
  --button-background-dark: rgb(0, 0, 0);
  --button-hover-dark: rgb(83, 80, 80);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--container-dark);
}

.title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.button {
  display: inline-block;
  margin: 0 10px;
  padding: 10px;
  border: none;
  background: none;
}

.button img {
  width: 100px;
  height: 100px;
  transition: transform 0.2s;
}

.button img:hover {
  transform: scale(1.1);
}

.js-result {
  font-size: 2rem;
  padding: 0;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.js-moves,
.js-score {
  font-size: 1.2em;
  margin: 10px 0;
}

.reset {
  font-size: 1em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--button-background-dark);
  color: var(--text-dark);
}

.reset:hover {
  background-color: var(--button-hover-dark);
}
