@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Cinzel", serif;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle at center, transparent 0%, #000 70%),
    url("components/images/backgroundImg.gif");
  background-size: cover;
  opacity: 0.3;
  transition: opacity 0.4s ease;
}

.content {
  z-index: 1;
  text-align: center;
}

.logo-container {
  margin-bottom: 20px;
}

.logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff00de;
  }
  100% {
    box-shadow: 0 0 10px #fff, 0 0 20px #ff00de, 0 0 30px #ff00de;
  }
}

.title {
  font-size: 4rem;
  margin-bottom: 30px;
  opacity: 0;
  transition: opacity 2s ease;
}

.title.show {
  opacity: 1;
}

.title span {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: revealText 0.5s forwards;
}

@keyframes revealText {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Start Button Styling */
.start-button {
  background: transparent;
  color: #fff;
  border: 3px solid #ff00de;
  padding: 15px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease;
  font-family: "Cinzel", serif;
}

.start-button::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border: 2px solid #ff00de;
  transform: rotate(0deg);
  transition: transform 0.5s;
}

.start-button:hover::before {
  transform: rotate(45deg);
}

.start-button:hover {
  color: #ffffff;
  box-shadow: 0 0 10px #ff00de, 0 0 20px #ff00de, 0 0 40px #ff00de;
}
